<!DOCTYPE html>
<html lang="en">

    <div class="container">
        <%- include('page-toolbar/page-toolbar.ejs')%>                  
        <%- include('page-toolbar/latest-visits.ejs')%>     
        
        <%- include('rows/widget-pie.ejs')%>   
        <%- include('rows/joininone_row.ejs')%>  
        
        
        <%- include('rows/latest_transactions.ejs')%>   
        
    </div>